name: Deployment

concurrency: development

on:
  push:
    branches:
      - main

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: deploy
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
